<div class="pagination">
    <a href="###" class="page_up page_disabled">
        <i class="ico ico_direct ico_left ico_left_disabled"></i>
        上一页</a>
    <a href="###" class="page_up">
        <i class="ico ico_direct ico_left"></i>上一页</a>
    <div class="page_list">
        <a href="###" class="current">
            <span class="current_bg"></span>
            <span class="num">1</span>
        </a>
        <a href="###">2</a>
        <a href="###">3</a>
        <a href="###">4</a>
        <a href="###">5</a>
        <a href="###">6</a>
        <a href="###">7</a>
        <span class="page_ellipsis">...</span>
        <a href="###">67</a>
    </div>
    <a href="###" class="page_down">
        下一页<i class="ico ico_direct ico_right"></i>
    </a>
    <a href="###" class="page_down page_disabled">
        下一页<i class="ico ico_direct ico_right ico_right_disabled"></i>
    </a>
    <div class="page_value">
        到<input type="text" class="page_num" name="">页
    </div>
    <a class="btn btn_sm btn_red" href="javascript:void(0);">确定</a>
</div>