<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if IE 6]->  
    <style>  
    body {height:100%;} /* IE在高度不够时会自动撑开层*/  
    </style>  
    <![endif]--> 
    <link rel="stylesheet" type="text/css" href="../Css/base.css">
    <script src="../Scripts/jquery-2.2.4.js"></script>
    <script src="../Scripts/Underscore/Underscore_1.8.2.js"></script>
<title>jmhv</title>
</head>
<body>
    <header>
        <label>Now</label>
    </header>
    <div class="content">
         <div>
            made in china
        </div>
         <div>
            made in china
        </div>
         <div>
            made in china
        </div>
    </div>
    <footer>
        <div>
            footer
        </div>
    </footer>
</body>
</html>